.additional-products {

}

.additional-products__title {
  font-size: 24px;
  line-height: 1;
  color: $primary-black;
  margin: 0;


}

.additional-products__list {

}

.additional-products__present {

}
