.card-additional-products__title {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $secondary-dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.card-additional-products__description {
  font-family: $secondery-font;
  font-size: 14px;
  line-height: 1;
  color: $primary-dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.card-additional-products__cost {
  font-family: $secondery-font;
  font-size: 14px;
  line-height: 1;
  color: $primary-dark-grey;
  margin: 0;
}
