.collaboration {

}

.collaboration__title {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: $secondary-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.3;
  }
}

.collaboration__address {
  font-family: $secondery-font;
  font-size: 14px;
  line-height: 1.43;
  color: $primary-dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.collaboration__map {

}
