.description-list {
  margin: 0;
  padding: 0;
}

.description-list__item-explan {
  font-family: $secondery-font;
  font-size: 14px;
  line-height: 1.29;
  color: $primary-dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.description-list__item {
  position: relative;
}

.description-list__item::after {
  content: "";
  width: 60px;
  height: 60px;
  background-color: $base-green;

  position: absolute;
  top: 0;
  left: 0;
}

.description-list__item--sheet::after {
  content: "";
  background-image: url("../../icons/stack.svg#explan-sheet");
  background-repeat: no-repeat;
  background-size: 30px 32px;
  background-position: center;
  display: block;

  position: absolute;
}

.description-list__item--eat::after {
  content: "";
  background-image: url("../../icons/stack.svg#explan-eat");
  background-repeat: no-repeat;
  background-size: 30px 32px;
  background-position: center;
  display: block;

  position: absolute;
}

.description-list__item--fork-knife::after {
  content: "";
  background-image: url("../../icons/stack.svg#explan-fork-knife");
  background-repeat: no-repeat;
  background-size: 30px 32px;
  background-position: center;
  display: block;

  position: absolute;
}

.description-list__item--watch::after {
  content: "";
  background-image: url("../../icons/stack.svg#explain-watch");
  background-repeat: no-repeat;
  background-size: 30px 32px;
  background-position: center;
  display: block;

  position: absolute;
}
