.programm-list__item {
  background-color: $primary-light-grey;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.programm-list__item-title {
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: $primary-black;
  margin: 0;
  padding: 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.programm-list__item-title--slim {
  margin: 10px 59px 9px 70px;
}

.programm-list__item-title--fat {
  margin: 10px 20px 9px 70px;
}

.programm-list__item-description {
  font-family: $secondery-font;
  font-size: 14px;
  line-height: 1.29;
  color: $secondary-dark-grey;
  padding: 0 15px 15px;
  margin: 0 18px 23px 5px;

  @media (min-width: $tablet-width) {
    color: $primary-black;
    font-size: 16px;
    line-height: 1.5;
  }
}

.programm-list__item-button {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $primary-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.programm-list__item::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: $base-green;
  border-radius: 50%;

  position: absolute;
  top: 23px;
  left: 20px;
}

.programm-list__item--slim {
  position: relative;
}

.programm-list__item--slim::after {
  content: "";
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  background-size: 36px 50px;
  width: 36px;
  height: 50px;

  position: absolute;
  top: 21px;
  left: 25px;
}

.programm-list__item--fat {
  position: relative;
}

.programm-list__item--fat::after {
  content: "";
  background-image: url("../../icons/stack.svg#cat-fat");
  background-repeat: no-repeat;
  background-size: 67px 28px;
  width: 67px;
  height: 28px;

  position: absolute;
  top: 35px;
  left: 9px;
}

.programm-list__item-button {
  position: relative;
  font-size: 16px;
  color: $primary-black;
  padding: 0 20px 20px;
  margin: 0 158px 2px 0;
  text-decoration: none;
}

.programm-list__item-button::after {
  content: "";
  mask-image: url("../../icons/stack.svg#arrow");
  mask-repeat: no-repeat;
  mask-size: 24px 12px;
  mask-position: 100%;
  width: 24px;
  height: 12px;
  background-color: $primary-black;

  position: absolute;
  top: 2px;
  right: -15px;
}

