.programm-list {
  background-color: $primary-light-grey;
}

.programm-list__item-title {
  font-size: 24px;
  line-height: 1.54;
  text-transform: uppercase;
  color: $primary-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }
}

.programm-list__item-description {
  font-family: $secondery-font;
  font-size: 14px;
  line-height: 1.29;
  color: $secondary-dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    color: $primary-black;
    font-size: 16px;
    line-height: 1.5;
  }
}

.programm-list__item-button {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $primary-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.programm-list__item::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: $base-green;
  border-radius: 50%;

  position: absolute;
  left: 10px;
}

.programm-list__item--slim::after {
  content: "";
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  background-size: 36px 50px;
  width: 36px;
  height: 50px;

  position: absolute;
  top: 5px;
  left: 20px;
}


.programm-list__item--fat::after {
  content: "";
  background-image: url("../../icons/stack.svg#cat-fat");
  background-repeat: no-repeat;
  background-size: 67px 28px;
  width: 67px;
  height: 28px;

  position: absolute;
  bottom: 60px;
  left: 0;
}

.programm-list__item-button::before {
  content: "";
  mask-image: url("../../icons/stack.svg#arrow");
  mask-repeat: no-repeat;
  mask-size: 24px 12px;
  width: 24px;
  height: 12px;
  background-color: $primary-black;

  position: absolute;
  bottom: 20px;
  left: 138px;
}
